<body class="bg">
<p stylestyle="margin-bottom:2cm;"></p>
&nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; <a mat-raised-button color="warning" class="me-2" routerLink="/addtrains">Add</a>
<hr>
&nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; <a mat-raised-button color="warning" class="me-2" routerLink="/managetrains">Handle</a>
<hr>
&nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; <img  src="assets/images/govpak.jpg" width="400" height="390"/>  
</body>